@use '../variables' as *;

.header {
  display: flex;
  align-items: center;

  box-sizing: border-box;
  height: $header-height;
  padding: 0 $container-padding;

  background-color: $header-background-color;

  &__content {
    display: flex;
    align-items: center;

    flex-grow: 1;
    height: 100%;
  }

  &__logo {
    display: flex;
    flex-shrink: 0;
    align-items: center;

    img {
      display: block;

      width: 40px;
      height: 40px;
    }
  }
}
