.header {
  border-bottom: 1px solid $card-border-color;
  background-color: $card-background-color;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    height: $header-height;
    margin: 0 auto;
    padding: 0 40px;
  }

  &__logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    img {
      display: block;
      width: 40px;
      height: 40px;
    }
  }
}
