.nav {
  height: 100%;

  &__list {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 100%;
  }

  &__item {
    height: 100%;
  }

  &__link {
    position: relative;

    display: flex;
    align-items: center;

    height: 100%;

    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: #000;
    text-transform: uppercase;

    transition: color 0.3s;

    &:hover {
      color: #00acdc;
    }

    &.is-active {
      color: #00acdc;

      &::after {
        content: '';

        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 2px;

        background-color: #00acdc;
      }
    }
  }
}
