.nav {
  align-self: stretch;
  height: 100%;

  &__list {
    display: flex;
    gap: 40px;

    height: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__link {
    position: relative;

    display: flex;
    align-items: center;

    height: 100%;
    padding: 0;

    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: $default-text-color;
    text-decoration: none;
    text-transform: uppercase;

    transition: color $transition-duration;

    &::after {
      content: '';

      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

      height: 4px;
      border-radius: 2px 2px 0 0;

      background-color: transparent;

      transition: background-color $transition-duration;
    }

    &:hover,
    &.is-active {
      color: $card-accent-color;

      &::after {
        background-color: $card-accent-color;
      }
    }
  }
}
