@import 'variables';
@import 'blocks/header';
@import 'blocks/nav';
@import 'blocks/card';
@import 'blocks/stars';
@import 'blocks/catalog';

body {
  margin: 0;
  font-family: $font-family-main;
  font-size: 12px;
}
